<div class="event-detail">
    <div class="event-detail-title">
        <h3>{{ event.title }}</h3>
        <span class="event-detail-date"><i class="fa fa-calendar"></i> {{ event.created_at|date('d F Y') }}</span>
    </div>
    <div class="event-detail-content">
        <div class="thumbnail">
            <img src="{{ event.poster.path }}" class="img-responsive img-thumb">
        </div>
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detail</a></li>
                {% if event.extra_information %}
                {% for extraInfo in event.extra_information %}
                <li role="presentation"><a href="#{{ extraInfo['field_key'] }}" aria-controls="{{ extraInfo['field_key'] }}" role="tab" data-toggle="tab">{{ extraInfo['field_key'] }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="event-description">
                        {{ event.description|raw }}
                    </div>
                </div>
                {% for extraInfo in event.extra_information %}
                <div role="tabpanel" class="tab-pane" id="{{ extraInfo['field_key'] }}">
                    {{ extraInfo['field_details']|raw }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
