{% set events = __SELF__.events %}

{% for event in events %}
    <div class="header">Kegiatan</div>
    <div class="event-sidebar">
        <img src="{{event.poster.path}}" class="img-responsive">
        <div class="event-sidebar-title">
            <a href="{{ event.url }}">{{ event.title }}</a>
        </div>
    </div>
{% endfor %}
